.results-title{
    color: #fff;
    margin-bottom: 1em;
}
.searchResultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 40px;
    width: 90%;
    margin-left: 2em;
}

.cardContainer{
    flex-wrap: wrap;
    justify-content: left;
}