.results-title{
    color: #fff;
}
.searchResultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    margin-top: 60px;
    width: 90%;
    margin-left: 2em;
}

.cardContainer{
    flex-wrap: wrap;
    gap: 12px;
    justify-content: left;
}